[2015-01-17 19:22] rfleschenberg opened #1 "Crash on non-file templates"
Thanks for writing this, Ned. I think it's a great idea and a very useful tool to have. So I get to file the first issue on it ;)

django-coverage-plugin crashes on templates that don't have an underlying file. For example, this view:

    from django.template import Template, Context
    from django.http import HttpResponse

    def i_am_broken(request):
        tpl = Template(u"Hello!")

[2015-01-20 03:51] nedbat commented on #1
Fixed in 4c77643.

[2015-01-20 03:51] #1 closed

[2015-01-24 01:52] nedbat opened #2 "Relative paths to template files"
In 0.3, template files are shown in reports as simply "file.txt", not "path/to/file.txt".  How can we figure out the relative path to a template file?

[2015-01-24 01:57] nedbat opened #3 "How to access Django settings?"
When using other coverage commands (like `coverage html`), the Django settings may not be set properly.  For example, these commands:

[code]

manage.py will set the settings properly, but `coverage html` won't know where they are.
Should we require the user to set the DJANGO_SETTINGS_MODULE? Should we make it so the settings aren't required?

[2015-01-24 03:50] nedbat opened #4 "How to find templates that are never executed?"
With .py files, `--source` will find files that were never even executed once.  What's the equivalent for template files?

[2015-01-26 01:15] #2 closed

[2015-01-26 22:43] nedbat opened #5 "Template files with non-ascii characters bork the HTML report"
[code]

[2015-01-27 01:08] nedbat opened #6 ""Block library" templates have blank lines marked as missing"
Some libraries use blocks from templates that have no `{% extends %}` tag.  Normally a template like that would be fully rendered, so the blank lines between the blocks would be rendered.  Since these templates are never rendered in full,  those blank lines are never rendered.  But coverage doesn't understand how these files are being used (as block libraries), so it marks the interstitial blank l

[2015-01-27 01:12] funkybob commented on #6
One possible solution is a magic marker for the first line of the template to indicate that blanks outside of blocks are NOQA ?

[2015-01-27 01:51] #5 closed

[2015-02-06 15:34] jessamynsmith opened #7 "Errors out with "branch = True""
All my templates are erroring out as follows:
```eggtimer/templates/base.html   AttributeError: 'FileReporter' object has no attribute 'no_branch_lines'```

My .coveragerc is as follows:
[code]
When I remove "branch=True" the error goes away.

[2015-02-07 01:44] nedbat commented on #7
Fixed in #8

[2015-02-07 01:44] #7 closed

[2015-02-07 16:14] jessamynsmith opened #9 "Cannot generate XML coverage report"
I noticed this in PyCharm, because it uses the XML report, but it occurs from the command line as well.

[code]

[2015-02-07 19:24] jessamynsmith commented on #3
If I simply run in my usual virtualenv environment, I get errors like the following:
[code]
I can work around this by setting PYTHONPATH:
[code]
It also works, without PYTHONPATH, if I invoke coverage via python:
[code]

[2015-02-19 16:45] jessamynsmith commented on #4
I ran into this on one of my projects. I had unit tests on views, but they weren't actually calling views that rendered templates, so I wasn't getting any template coverage. Perhaps the plugin should inspect settings.TEMPLATE_DIRS and report on all files found therein?

[2015-02-19 16:52] jessamynsmith opened #11 "Included templates only discovered if they are in the same directory"
I have a project layout with a top-level templates directory containing base.html, and within apps I have template directories containing templates which extend the global base.html. When I run the plugin, base.html is not included in coverage. If I move base.html into the app template directory, it is included. As an example (where base.html is not included): https://github.com/jessamynsmith/eggt

[2015-02-20 22:58] nedbat commented on #4
One thing I'm not sure of, is how to know what are template files.  With Python files, I can look for .py files. But template files could have any extension.  Is it true that *every* file in the TEMPLATE_DIRS tree is a template?  Do we need a configuration option for the plugin which is the extensions to consider as templates?

[2015-02-20 23:40] nedbat commented on #11
This was due the .coveragerc file having a setting of "source = api, eggtimer, periods", but the template was in "templates/base.html", so it was excluded by the source rule.  Adding "templates" to the source option fixed it.

[2015-02-20 23:40] #11 closed

[2015-02-23 02:59] nedbat commented on #9
This is fixed by a change in coverage.py: https://bitbucket.org/ned/coveragepy/commits/7fd1c40f2001cbaddada0a62c4e445d55182d45f

[2015-02-23 02:59] #9 closed

[2015-03-05 17:30] perror commented on #3
In my humble opinion, it would be much more easy to use if a default `DJANGO_SETTINGS_MODULE` is selected at first (e.g. the one from the current project).

[2015-03-05 17:35] perror opened #12 "Omitted {% load xxx %} statements ?"
I noticed that all the `{% load xxx %}` statements (such as `{% load i18n %}`) are marked as *uncovered*.

How could we work around and make it covered (and why couldn't we consider all these statements as automatically covered by default ?).

[2015-03-08 12:47] nedbat commented on #12
I added a test of `{% load %}` in 2305530, it seems to be covered.  Something more complicated must be going on.  Can you show the file that's having the problem?

[2015-03-08 12:58] nedbat commented on #3
@perror I'm not sure what you mean.  What is the default DJANGO_SETTINGS_MODULE?

[2015-03-08 14:34] perror commented on #3
@nedbat In fact, I need to set the `DJANGO_SETTINGS_MODULES` to `myapp.settings` to make the plugin work. It would be more convenient if a default value could be set to it (I have no idea how to achieve this though...). But, anyway, it is not really important because it works once it is configured, so it is not really an issue.

[2015-03-08 14:59] perror commented on #12
Yes, I confirm that #6 seems to be the same bug.

[2015-03-08 15:43] #12 closed

[2015-04-23 21:40] nedbat opened #13 "Nonsensical output?"
I haven't tried this yet, but @jessamynsmith says:

[10:28:33] jessamynsmith	I have a bit of mystification: https://coveralls.io/builds/2381671/source?filename=quotations%2Ftemplates%2Fquotations%2Fshow.html
[10:29:02] nedbat	that looks way wrong
[10:29:47] jessamynsmith	coverage==4.0a5
[10:29:47] jessamynsmith	django-coverage-plugin==0.3.3
[12:04:47] jessamynsmith	repo is https://github.com/jessa

[2015-05-12 17:10] jessamynsmith commented on #13
Ok, I think I have something now that you can test. You can see the build here:
https://coveralls.io/builds/2545665/source?filename=quotations%2Ftemplates%2Fquotations%2Fshow.html

repo here:
https://github.com/jessamynsmith/socialjusticebingo

[2015-05-23 13:01] nedbat commented on #13
@jessamynsmith not sure what changed, but using the tip of coverage and django_coverage_plugin produces much better results.  Now in show.html, the `{% load` line is marked as uncovered (!?), and the `{% if not quotations %}` clause is marked as uncovered.

[2015-05-24 14:17] nedbat commented on #13
The latest commit (081cd5a6a6754a844880a0b62fbb8080ad9a1bdb) fixes the `{% load %}` problem.

[2015-05-24 14:17] #13 closed

[2015-06-25 03:32] epicserve opened #14 "Don't count the coverage for the entire project if your testing just one app"
So let's say I run something like ``coverage run manage.py test && coverage html && open htmlcov/index.html`` normally to test my entire project and I have ``source = .`` set in my ``.coveragerc`` file. Is there way to make the source or the ``coverage html --include`` automatically adjust if I'm just running tests for one particular Django app that's within my project (i.e. ``coverage run manage.

[2015-06-25 11:30] nedbat commented on #14
I don't see how coverage could do this.  It doesn't know anything about what manage.py is doing, it just runs it.  Perhaps the django test runner could have tighter integration with coverage, and somehow configure it, but I'm not familiar with that code.

[2015-06-25 13:18] epicserve commented on #14
That makes sense. I think this existed but the [project](https://bitbucket.org/kmike/django-coverage/) isn't maintained any more and doesn't work with newer versions of Django.

[2015-06-25 13:18] #14 closed

[2015-07-21 21:26] nkuttler opened #15 "No template reports generated"
The plugin is active when i run coverage, but the sys_info method never gets called. I verified the file_tracer() calls and my templates don't show up in there either. Any suggestion what to check further would be appreciated.

Django==1.8.3
coverage==4.0a6
django-coverage-plugin==0.5

[2015-07-21 22:34] nedbat commented on #15
Can you show how you are running your tests, and coverage, and include the results of the coverage report?  Also, a link to the repo with the project in it (if possible) would be great.  Can you try the latest version of the plugin (which would require using an unpackaged version of coverage.py)?

[2015-08-26 08:48] gergelypolonkai commented on #15
Same here with:

    Django==1.8.4
    coverage==4.0b2
    django-coverage-plugin==1.0b2

My `.coveragerc` file:

    [run]
    plugins =
        django_coverage_plugin

    [report]
    omit =
        demand-venv/*
        /app/*
        demand/wsgi.py

I run coverage like:

    coverage run --source="demand,builds,accounts,api,process" manage.py test

[2015-08-26 10:22] nedbat commented on #15
@gergelypolonkai Can you provide me with a link to your repo?

[2015-08-26 13:22] gergelypolonkai commented on #15
Sorry, it's a company-only repo. I can do some tests on a private repo this evening (CEST) with the same versions.

[2015-09-22 14:31] codingjoe commented on #15
Same here in a private repo. Plugin is installed but it doesn't show any template coverage.

[2015-09-22 23:57] nedbat commented on #15
Can you add ``--debug=sys,config`` to your ``coverage run`` command, and show the output?  Also, perhaps the output of ``coverage debug data`` ?

[2015-09-23 15:44] codingjoe commented on #15
Did you ever test it with pytest-cov?

[2015-09-23 16:35] nedbat commented on #15
I have not tested it with pytest-cov, is that what you are using?

[2015-09-24 10:41] codingjoe commented on #15
I tried both. But I'd prefer to use pytest-cov because of it's subprocessing support.

[2015-09-24 11:00] gergelypolonkai commented on #15
With `--debug=sys,config` I get a bunch of this message:

    builds/templates/builds/create.html   ImproperlyConfigured: Requested setting FILE_CHARSET, but settings are not configured. You must either define the environment variable DJANGO_SETTINGS_MODULE or call settings.configure() before accessing settings.

If I add this to my `settings.py`, it doesn’t help.

[2015-09-24 11:28] nedbat commented on #15
@codingjoe @gergelypolonkai Have you set DJANGO_SETTINGS_MODULE as an environment variable?  If you could post the results of the --debug switch, it might help me help you.

[2015-09-24 11:54] gergelypolonkai commented on #15
There you go.

    -- config ----------------------------------------------------
     attempted_config_files: /local/scratch/polesz/dmnd/.coveragerc
                     branch: False
                concurrency: None
               config_files: /local/scratch/polesz/dmnd/.coveragerc
                cover_pylib: False
                  data_file: .coverage
                      debug: sys

[2015-09-25 09:44] codingjoe commented on #15
@nedbat I use django-configurations, so no.

[2015-10-04 23:08] nedbat commented on #15
OK, I think I know what is going on here.  In Django <= 1.7, you need to have TEMPLATE_DEBUG=True defined in your settings.py.  In Django 1.8, you need to be using the new TEMPLATES setting, and set OPTIONS['debug'] = True.
Can you try this and confirm for me that it works or does not work?

[2015-10-05 07:47] gergelypolonkai commented on #15
I already had that during the previous tests. Here are the relevant lines from my `settings.py`:

[code]

[2015-10-05 10:54] nedbat commented on #15
@gergelypolonkai I'm a little unsure about how the DEBUG setting interacts here, since the test runner sets it to False.  Do you mind changing this to `'debug': True` to see if it changes the behavior?

[2015-10-05 22:15] gergelypolonkai commented on #15
I think that is evaluated before starting the test runner. Anyways, I will try it as soon as I gut in the office tomorrow (~0900 CEST).

[2015-10-06 22:21] gergelypolonkai commented on #15
It seems I have forgot to save my comment here…

I had the same issu with `debug` explicitly set to `True`. However, patching `get_template` in `plugin.py` to initialize Django settings before using it did the trick:

    if not settings.configured:
        settings.configure()

After this, I got template coverage data.

[2015-10-07 11:21] codingjoe commented on #15
@gergelypolonkai when `get_template` method? I can't find it. I'd like to try it myself.

[2015-10-07 14:44] gergelypolonkai commented on #15
Sorry, method name suffers from copy-paste error… it is `read_template_source` actually.

[2015-10-09 08:44] gergelypolonkai commented on #15
I have opened #16 for this.

[2015-11-03 02:35] nedbat commented on #15
I've merged #16, can people try it and tell me if it's better?

[2015-11-12 11:32] nedbat commented on #15
I've pushed 1.1 with this change: https://pypi.python.org/pypi/django_coverage_plugin/1.1

[2015-11-12 13:16] gergelypolonkai commented on #15
I have just downloaded it and it works like charm. Thanks!

[2015-11-12 14:50] #15 closed

[2015-11-13 08:24] gergelypolonkai commented on #3
Doesn’t calling `django.setup()` do this for you?

[2015-11-13 11:05] nedbat commented on #3
@gergelypolonkai I'll admit to being a little confused.  I need to do some more tests on real Django projects.  Anyone who can provide data points, I am grateful!

[2015-11-13 14:40] gergelypolonkai commented on #3
I take this back; `DJANGO_SETTINGS_MODULE` must be set for this. However, `wsgi.py` and thus the `manage.py runserver` command sets it to a sane default, and in a gunicorn/Apache/whatever environment you use the former one.

Still, `django.setup()`, or at least `settings.configure()` should be called befora accessing the config (see #16 which solves somewhat the same issue).

[2015-11-13 19:38] charettes opened #17 "Add a note that `TEMPLATE_DEBUG` must be enabled."
I had to read the source to figure out it was required. Fixing the TODO would also be nice.

[2015-11-15 12:22] nedbat commented on #17
Even better, I'd like to add an automated warning message if TEMPLATE_DEBUG is not set.

[2015-11-25 17:36] audreyr commented on #17
Just fyi, as of Django 1.8, TEMPLATE_DEBUG is deprecated: https://docs.djangoproject.com/en/1.8/ref/settings/#template-debug

[2015-11-25 17:39] charettes commented on #17
I has been replaced by the `'debug'` option in the `OPTIONS` of a `DjangoTemplates` backend.

[2015-12-06 00:14] nedbat commented on #17
This is handled in 99ba553

[2015-12-06 00:14] #17 closed

[2015-12-07 16:58] charettes commented on #17
Thanks Ned!

[2016-01-14 09:46] jonashaag commented on #17
Will you cut a a release with this fix soon? I spent almost an hour debugging this.

[2016-01-14 15:16] PamelaM commented on #4
I can't speak for every project, but for ours, every file in TEMPLATE_DIRS is a template.

One could add optional settings for:
(a) template_extensions (defaults to .*, but for most of us it will be .html)
(b) If you open a file, parse it, and there's no template language (e.g. '{%' or '{{'), it's not a template

But I think treating the TEMPLATE_DIRS as containing all templates will be good enoug

[2016-01-14 15:20] PamelaM commented on #3
+1 for setting DJANGO_SETTINGS_MODULE.  Our situation is way more complicated since we have three projects that *intimately* share the same code tree.  Each project has it's own settings, so there are some templates in project A that aren't accessed in project L and visa-versa.

It would be miraculous if we could specify a list of settings to find all templates, but we're happy with just getting f

[2016-01-17 13:18] nedbat commented on #17
Version 1.2 is on PyPI now, with this fix.  Sorry for the delay :)

[2016-01-17 15:07] jonashaag commented on #17
Thank you!

[2016-01-27 19:42] sergei-maertens commented on #4
You could inspire yourself on how `makemessages` works, that one also loops through all the templates and it's an option to specify extensions other than the defaults.

I wrote a library that also loops through all template files in the same way, you could maybe use that as inspiration: https://github.com/sergei-maertens/django-systemjs/blob/develop/systemjs/management/commands/systemjs_bundle.py#

[2016-01-27 19:44] sergei-maertens commented on #3
One thing I noticed is that for `coveralls` the `PYTHONPATH` trick is required, while settings `DJANGO_SETTINGS_MODULE` is enough for `codecov`. For Travis, I just export both env vars before submitting the coverage to Coveralls/Codecov

[2016-02-02 00:42] jonashaag opened #18 "Missing DJANGO_SETTINGS_MODULE"
With empty `.coveragerc`:

[code]

With django-coverage-plugin in `.coveragerc`:

[code]

[code]

`manage.py` is unmodified (generated by Django).

[2016-02-02 00:47] nedbat commented on #18
Can you show the complete error report with traceback?

[2016-02-02 01:12] jonashaag commented on #18
Sure. Actually from the traceback it looks more like django-coverage-plugin wants the use settings before `manage.py` has loaded the environment variable; changing the title accordingly.

[code]

[2016-02-02 01:14] jonashaag commented on #18
Note that this worked in 1.1 and broke in 1.2, I can bisect the commit for you if you want

[2016-02-21 07:44] edwardotis opened #19 "need concrete examples of .coveragerc template configuration"
Hello,

 I cannot get this plugin configured to process my template directories.
There is no relevant example code either here or at the main https://coverage.readthedocs.org.
https://coverage.readthedocs.org/en/coverage-4.0.3/config.html#config

Please add a sample .coveragerc based on the django standard layout for templates.

Thank you.

[2016-02-21 07:59] edwardotis commented on #4
+1 to fix this issue
and +1 for every file in TEMPLATES['DIRS'] can be considered a template file. (people can use omit if they put non-templates in there.)

fyi, I still cannot get this plugin configured to pick up a single template.

[2016-02-21 14:09] nedbat commented on #19
@edwardotis can you show what you tried, and what happened?

[2016-02-21 21:57] charettes opened #20 "Add support for multiple instances of the `django.template.backends.django.DjangoTemplates`."
At the moment a `ValueError` is raised as soon as `TEMPLATES` contain more than a single entry.

AFAIK this plugin already supports multiple `TEMPLATES` entries as long as they all use the `DjangoTemplates` backend.

[2016-02-21 21:58] charettes commented on #20
I'll try to submit a PR with the required changes.

[2016-04-03 13:02] #20 closed

[2016-04-03 14:48] nedbat commented on #18
@jonashaag more details about how reproduce this, or which commit it was, would be great.

[2016-04-03 18:05] jonashaag commented on #18
Just use `startproject`, `startapp`, and then the settings I show above.

[2016-04-13 14:36] NotSqrt opened #22 "Random error"
Hi,

I am facing a random error in my tests, with django 1.8.12, coverage 4.0.3 and django_coverage_plugin 1.3 (and seemingly only on my CI server using ubuntu precise 32bit, not our developer machines using ubuntu >= 14.04 64bit):
[code]

(Side note, as it is an AssertionError exception, the test reports it as a failure, not an error)

It seems to be called from ``django/template/engine.py``, lin

[2016-04-13 14:37] NotSqrt commented on #22
It is random in the sense that it appears maybe 10% of the time.

[2016-04-14 20:35] nedbat commented on #22
@NotSqrt hmm, strange.  Are you using any concurrency libraries, like gevent, greenlets, or eventlets?

[2016-04-15 08:34] NotSqrt commented on #22
I get this error when running tests with https://github.com/kmmbvnr/django-jenkins, on LiveServerTestCase tests calling selenium, so not directly concurrency libs, but definitely threads and subprocesses.

[2016-04-15 09:03] jonashaag commented on #18
Bump

[2016-04-16 10:38] nedbat commented on #22
OK, I'm not sure how well this will work, but let's try this experiment.  In one of your tests, (anywhere, just some place that we can get the output, and we know that it's running in the same process as the occasional failures), add this code:  "import pprint, sys; pprint.pprint(sys.modules)".  If you need to, also add a failure like "1/0" to get the test runner to show you the output.  Then we c

[2016-04-18 08:10] NotSqrt commented on #22
Here is a list of the libraries extracted from ```import pprint, sys; pprint.pprint(sys.modules)``` in the function that raises the exception:
[code]

[2016-04-18 22:19] nedbat commented on #22
I don't see any smoking guns there. Selenium is notorious for unpredictability, but I don't see how it could produce assertions like that one.

[2016-04-19 13:20] NotSqrt commented on #22
I tried to inspect the stack when entering the ``line_number_range`` method:
[code]

It is clearly in the LiveServerThread, not the main thread.

It is not always the same template that makes it fail.

In ``line_number_range``, the template instance is in ``frame.f_locals['template']``, but it has no loaded source, so it can't be used in ``position_for_node``.

Do you want me to look in a specific

[2016-04-22 10:25] oz123 opened #23 "Requests to external page trrigers an error?"
Some how calling a URL to an external resource inside my view triggers the following exception:

[code]

This does not happened with simple testing:

[code]

Can you tell what is going on here?

[2016-04-22 10:31] oz123 commented on #23
That is odd, maybe it's even a problem with coverage pluing? I change the `setUp` and removed `follow()`
and  now the test passes. Still I wonder why this happens.

[2016-04-22 11:39] nedbat commented on #23
Can you provide instructions so that I can reproduce this error?  Does it happen reliably? There's another report of the same assertion, but it is intermittent.

[2016-04-22 12:02] oz123 commented on #23
Hi Ned,

Thanks for the quick reply. Try including the following method in one of your views, and give it a URL:

[code]

[2016-04-23 11:20] nedbat commented on #23
I haven't tried your suggestion yet.  But if you have a complete project I could try, with tests, configuration, etc, that would be much better.

[2016-04-23 15:28] oz123 commented on #23
Unfortunately, it's a commercial non open source code. I could try and reap off the essential parts and make an example project. However, I might be able to get to it next week only.

[2016-04-25 09:34] oz123 commented on #23
Hi Ned,
OK, I can tell you definitely that the error happens every time I run the test suite with the django-template-coverage.
I also tried creating a new simple project with similar templates and url structure. But I could not recreate the error on a simpler project with the above. Also, if I changed the code of the above posted function to:
[code]
Now, I am seeing another error:

$ DJANGO_SETTI

[2016-05-09 22:46] degustaf opened #24 "No template lines covered"
I have multiple tests that render a response, but I am showing 0 coverage in my templates.

The repo is https://github.com/degustaf/symmetrical-eureka
And the coverage report can be seen at https://travis-ci.org/degustaf/symmetrical-eureka/jobs/128951675

Possibly related, I have a base template for displaying a common header for all pages on the site, which does not show at all in the coverage re

[2016-05-18 07:35] keimlink commented on #18
@jonashaag Did you manage to identify the exact commit that causes the error?

[2016-05-18 07:43] jonashaag commented on #18
@keimlink Yes but I don't remember which one it was, you can simply run `git bisect` to find it

[2016-05-18 20:07] rfleschenberg commented on #18
bisect points at 0085fb83807b58863789d4fe3f92718322751b0a

[2016-05-18 20:37] nedbat commented on #18
I'll be able to jump into this more easily with a zipfile or specific instructions about how to reproduce it.

[2016-05-18 21:24] rfleschenberg commented on #18
Steps to reproduce:
[code]

[2016-05-18 21:28] rfleschenberg commented on #18
Actually, it works fine if you run from the directory where manage.py is located. I think that is expected. You should always run ``manage.py`` from its direct parent directory. Otherwise,  ``DJANGO_SETTINGS_MODULE`` will point at the wrong target (unless you take some other measure to get your project into ``sys.path``).

@jonashaag: does it work if you cd into ``foo`` and run ``./manage.py test`

[2016-05-18 22:04] rfleschenberg commented on #18
Eh, sorry. My comment above about having to run ``manage.py`` from its parent dir is wrong. ``DJANGO_SETTINGS_MODULE`` is relative to the location of ``manage.py``. I really shouldn't debug things at this time of the day :-/

But at least I found out that the current directory has something to do with it. Happy debugging ;)

[2016-05-23 01:12] nedbat commented on #18
The working directory is a red herring: that's because there's no .coveragerc in the subdirectory. If you copy it there, the failure happens in either directory.

I think the fix is to move the plugin's access of settings to later, when it is actually needed.

[2016-05-24 02:10] emmalemma commented on #18
Just chiming in to say I fixed this same bug when using `pytest-cov` by just commenting out `check_debug()`:  https://github.com/emmalemma/django_coverage_plugin/commit/e083da1624831c9485ec44f569d0689a59249f36 True, I won't get the nice warning if the settings are wrong, just 0% coverage; on the upside, when the settings are correct, the plugin actually works.

If anyone's trying to find a better

[2016-06-02 16:07] nedbat commented on #18
This is fixed as of commit fdb0892966362e2ded39e4124d095a999a28543e

[2016-06-02 16:07] #18 closed

[2016-06-02 16:32] nedbat commented on #18
I'll make a new release.  If you could test it out, that would be great.

[2016-06-02 19:32] emmalemma commented on #18
Thanks! With my config, fdb0892 works but still doesn't log the error when template debugging is off. Nothing in the coverage debug log either. For the record I'm using:

[code]

I'm not sure which of these is responsible for eating the exception.

[2016-06-03 20:48] nedbat commented on #18
@emmalemma Can you show me some output?  When I run a project without a debug setting, I get this:
[code]

[2016-06-03 22:17] emmalemma commented on #18
Sure. I can reproduce this with a minimal pytest setup:

[code]

create `tests.py`:
[code]

edit settings.py:
[code]

Demonstrate it works:

[code]

Then set `TEMPLATES[0]['OPTIONS']['debug'] = False`, and demonstrate it fails silently:

[code]

If I run the same thing on emmalemma@e083da1, with `check_debug` disabled, it shows 0% coverage:

[code]

Presumably, the check in fdb0892 is working prop

[2016-06-04 20:45] nedbat commented on #18
@emmalemma thanks for the detailed steps! I'm looking into what is hiding the exception.  BTW: `echo "[run]\nplugins=django_coverage_plugin" > .coveragerc` put a backslash-n into the rc file, but once I fixed that, the reproduction was easy. :)

[2016-06-05 16:53] emmalemma commented on #18
Hah, whoops! I only use zsh, forgot that would happen in bash. I guess I need to use `printf` instead :)

Thanks for taking the time to look into this, and especially thanks for your work on the plugin in the first place.

[2016-06-12 15:21] nedbat opened #25 ""Disabling plugin" exception is invisible in test runners"
If the Django settings don't enable template debugging, the plugin will disable itself and raise an exception.  But some test runners (at least pytest) don't display the exception, so it's hard to know why template coverage isn't happening.

Details are at the end of #18 .

[2016-06-12 15:21] nedbat commented on #18
I opened #25 to deal with the invisible exception.

[2016-06-12 16:09] nedbat opened #26 "Failure on tip of Django"
The tip of Django is failing the test suite like this:

[code]

carljm and apollo13 helped in #django to diagnose it:

[code]

[2016-07-04 11:08] hz commented on #22
@NotSqrt, I noticed that StringIO shares the same memory between the celery worker processes. It generated some corrupted contents in my project. Would it be the root cause for your case?

[2016-07-04 12:19] NotSqrt commented on #22
@hz It's hard to tell..

[2016-07-24 12:39] knyghty opened #27 "template debug should default to DEBUG"
Per [docs](https://docs.djangoproject.com/en/1.9/topics/templates/#django.template.backends.django.DjangoTemplates) it should default to `DEBUG`. I'm not sure if this is django's fault that it isn't explicitly set somehow, or the plugin's fault that it assumes False.

In any case, if I'm not mistaken, it can be fixed by changing:
`if not template_settings.get('OPTIONS', {}).get('debug', False)`
to

[2016-08-30 13:30] twschiller opened #28 "settings.py not covered when plugin enabled on Django 1.10"
When I enable django_coverage_plugin for Django 1.10, the settings.py file for my project is not covered. However, I know settings.py is being run because the tests are still passing.

Coverage metrics:
- Without plugin: https://coveralls.io/builds/7668992/source?filename=openintel%2Fsettings.py
- With plugin: https://coveralls.io/builds/7668159/source?filename=openintel%2Fsettings.py

Here's a di

[2016-08-31 10:25] nedbat commented on #28
I guess this is because the plugin imports the settings before coverage has really started.  Thanks for the report, though I'm not sure I have many options to fix it...?

[2016-08-31 12:54] twschiller commented on #28
Glancing at the [coverage docs](https://coverage.readthedocs.io/en/coverage-4.2/api_plugin.html), I'm thinking this might be a bug in coverage instead of django_coverage_plugin since django_coverage_plugin is only recording metrics for templates. Your file_tracer method seems reasonable, i.e., that it wouldn't be accidentally picking up settings.py.

Overall, this isn't a major issue for me, as th

[2016-08-31 14:18] nedbat commented on #28
My first thought was, "this isn't about the plugin, because it's a .py file, and the plugin is about .html (or whatever) files."  But you've shown that the plugin is the determining factor, and the reason it is is that it imports settings.py before coverage measurement begins.  Coverage.py can't measure a file that is imported before it begins measurement.

[2016-09-01 13:39] twschiller commented on #28
I'd have to look at trace of which files/modules are being loaded and when. I would have thought that the Django app would have loaded the settings module before an executed file would pass the test in file_tracer(...). Maybe it's a matter of delaying the TEMPLATE_DEBUG check even further. Not sure if it's worth the time to dig into.

[2016-12-29 14:40] clokep opened #29 "Breaking running of coverage when enabled"
First, thanks for this great plug-in! I've found it quite useful for testing some of the logic in my templates. 👍

I know this used to work in my project, but I'm not sure when it broke. (I don't think this has updated in a while, it could have been a Django update that broke this?)

My project is using Django 1.10.4, coverage 4.3.1, django-coverage-plugin 1.3.1. (I also tried with coverage 4.2, t

[2017-01-02 21:32] nedbat commented on #29
@clokep: Sorry things are going badly. I haven't had time to work on the Django template plugin in quite a while, and it might be a while before I do.  What I'd really like is to find someone else to take it over... :(

[2017-01-14 03:25] PamelaM commented on #26
I'm looking at this now (with thanks to apollo13  and carljm.

I think we need to examine every engine and confirm that _all_ engines have template debug enabled.

I also think that https://github.com/nedbat/django_coverage_plugin/pull/30 is needed so that one doesn't walk the list of engines until settings has been configured - as carljm suggested, don't read/parse template config, let django do

[2017-01-16 01:50] PamelaM commented on #23
This appears to be a duplicate of https://github.com/nedbat/django_coverage_plugin/issues/22

[2017-01-16 01:55] PamelaM commented on #19
If you are using LiveServerTestCases - or any non-single-process test - you have to follow the coverage docs for parallel/multiprocessing and use `coverage combine`

[2017-01-17 13:42] PamelaM commented on #29
@clokep:   Could you try the latest version (https://pypi.python.org/pypi/django_coverage_plugin/1.4)?  I'm not sure it will solve your problem, but if your problem is related to #28, then it might.

[2017-01-17 13:43] PamelaM commented on #28
@twschiller : Please try plugin version 1.4 which now supports Django 1.10

[2017-01-17 13:45] PamelaM commented on #27
@knyghty Please retry with plugin version 1.4.  The plugin now lets Django parse the settings and just checks the result for DJ versions 1.8+

[2017-01-17 13:45] PamelaM commented on #26
@nedbat You can close this Issue now :)

[2017-01-17 14:49] clokep commented on #29
@PamelaM First, thanks for taking a look at this! 👍

This seems to have fixed the issue of coverage erroring immediately when running, but unfortunately I don't seem to have any coverage of the templates! (I can run `coverage` and get a coverage report, including the template files, but it doesn't seem to have actually processed these files.)

I'm getting the following warning when I run coverage:

[2017-01-17 14:52] #26 closed

[2017-01-17 23:44] PamelaM opened #32 "Version 1.4 seems to break when django.templates.backends has not been initialized"
This is clearly a bug caused by my recent PR.

[code]

I'll work though a fix PR in the next two days.

Because of the chicken-and-egg issues of starting, I think the need for a test_project that can be used for full integration testing via subprocess calls is even more vital.  There are too many "shenanigans" involved with getting coverage/django startup initialization order reversed and re-run d

[2017-01-19 00:03] #23 closed

[2017-01-19 13:55] PamelaM commented on #32
I can only reproduce it in one case where we're not using a management command, so this doesn't look like a complete show-stopper.  Still looking at it

[2017-01-19 14:06] PamelaM commented on #29
Hi, this is a chicken-and-egg problem with settings configuration-and
template loading that I think is masked by the the django_coverage_plugin
test environment (initialization order stuff is always hard to test).

I've got a reproducible case and I'm working on it - but it's prioritized
behind a couple of other commitments.  Hopefully this weekend for a fix to
this problem and later I'll update t

[2017-01-19 14:22] clokep commented on #29
Awesome! Let me know if you want help testing a branch or anything! 👍

[2017-01-19 17:00] ambivalentno commented on #32
I observe such behavior even if running with `coverage run manage.py test`

[2017-01-20 15:57] PamelaM commented on #29
@clokep I've merged a fix for the most common likely problems.  Could you try out the master branch and see if there are any surprises?

[2017-01-21 00:02] clokep commented on #29
:boom: That worked! Seems like this was fixed by #33. Thanks so much for the help!

[2017-01-21 00:02] #29 closed

[2017-01-21 23:47] jclgoodwin commented on #32
I've also [observed such behaviour running with `coverage run manage.py test` (Django 1.10 project)](https://travis-ci.org/jclgoodwin/bustimes.org.uk/jobs/192782195#L568). But #33 [fixes the problem for me](https://travis-ci.org/jclgoodwin/bustimes.org.uk/jobs/194108808#L559) 👍

[2017-01-25 22:49] garyayo commented on #32
I just wanted to add that we've just recently started to experience this issue...

[code]
We're currently running:
[code]

Any idea how we can resolve this issue and move forward?

Thanks

[2017-01-26 03:27] PamelaM commented on #32
Ned just released `django-coverage-plugin==1.4.1` which _should_ address the problems dealing wit deferred initialization of the backends.

Please check it out and let us know if it works for you.

[2017-01-26 03:29] PamelaM commented on #27
@knyghty I hope that the latest version (1.4.1) addresses your issue.  If there are no problems reported by Feb 1st, we'll consider this issue closed.

[2017-01-26 03:29] PamelaM commented on #28
@twschiller I hope that the latest version (1.4.1) addresses your issue.  If there are no problems reported by Feb 1st, we'll consider this issue closed.

[2017-01-26 12:10] knyghty commented on #27
@PamelaM, I'm not able to test this at the moment but looking at your fix it looks like it should fix the problem, so please go ahead and close it now if you like.

[2017-01-26 13:53] garyayo commented on #32
@PamelaM Thank you for getting back to me, I appreciate your response.

Since upgrading to `django-coverage-plugin==1.4.1` we're now experiencing the following issue.

[code]
Unfortunately it seems as if our best option at this point is to downgrade to `django-coverage-plugin==1.3.1`

[2017-01-26 14:17] PamelaM commented on #27
Thanks

[2017-01-26 14:17] #27 closed

[2017-01-26 14:25] PamelaM commented on #32
I'll keep plugging away this weekend.  I can see where you're getting the error, now I just need to figure out what my integration test environment is doing differently than your environment (since I'm not getting that error).

It's probably time to step back and rethink every part of the startup process.  I'll probably also remove support for DJ 1.7 and earlier - if only to simplify the plugin.

[2017-01-26 14:43] garyayo commented on #32
Thanks @PamelaM.

You're correct. The error is occurring within our backend environment which is setup as

[code]

Thanks again. Please let me know if you need any additional information.

[2017-01-26 15:27] twschiller commented on #28
Looks like it's being included now. Thanks!

[2017-01-26 15:27] #28 closed

[2017-01-28 16:45] jclgoodwin opened #36 "Custom template tags not covered"
I have some custom template tags. When I disable django_coverage_plugin or downgrade to version 1.3.1, the code in the templatetags directory is marked as covered, as expected, but as of version 1.4.1 only the function body is marked as covered (which is sort of impossible):

https://coveralls.io/builds/9886572/source?filename=busstops%2Ftemplatetags%2Furlise.py

I'm using Django 1.10.5 and covera

[2017-01-30 14:30] PamelaM commented on #36
Thanks for your issue report.  There have been a number of similar reports.  Late last night I found a fix for at least one of the potential initialization issues.  I expect to create a PR with that fix tonight

[2017-01-31 04:37] PamelaM commented on #36
Could you try with PR https://github.com/nedbat/django_coverage_plugin/pull/38?
Thanks.

Background:
Since version 1.8,  Django has been deferring initialization steps later and later in the process.

Since these changes are all internal to Django, they are not always mentioned in the various release notes, so there's a bit of "whack a mole" trying to find issues.  And one-time initialization orde

[2017-01-31 04:39] PamelaM commented on #32
Could you try with PR https://github.com/nedbat/django_coverage_plugin/pull/38?
I _think_ the fix will address both your issue and a number of other, similar ones.

Please let me know if it works for you.

Thanks
Pam

[2017-01-31 18:48] jclgoodwin commented on #36
No luck with #38. Commenting out lines 166 and 169 of plugin.py fixes the problem for me, though I don't understand why.

[2017-01-31 18:57] PamelaM commented on #36
@jclgoodwin Thanks for trying.  I'll dig in some more and get back to you with another attempt.

`<grumble>django gets more efficient at startup ... and more confusing</grumble> :)`

[2017-02-01 03:01] PamelaM commented on #36
@jclgoodwin Do you have a working example I could test against? Or at least your settings.TEMPLATES configuration?

I've added a template tag to my "insane_integration" test branch, but it works correctly.

Commenting out those two lines will prevent `check_debug` from executing.  `check_debug` validates that the templates are (a) only using the standard Django Template Engine and (b) said engine

[2017-02-01 21:39] jclgoodwin commented on #36
Yes: https://github.com/jclgoodwin/bustimes.org.uk/blob/master/buses/settings.py#L132

[2017-02-02 14:04] garyayo commented on #32
@PamelaM Sorry for the delay in my response.

Any idea how I would be able to pull in that PR through pip? I have tried the following command with your PR commit `pip install git+https://github.com/nedbat/django_coverage_plugin.git@4df203a0908ac638f6c6da2b2e53096eb29506e8` with no luck.

Would love to test out that PR for you.

[2017-02-02 14:09] clokep commented on #32
@garyayo Use the following:
`pip install https://codeload.github.com/nedbat/django_coverage_plugin/zip/4df203a0908ac638f6c6da2b2e53096eb29506e8`

Note that if you already have django-coverage-plugin 1.4.1 installed pip won't upgrade to the new code because it's the same version number.

[2017-02-02 14:16] garyayo commented on #32
Very excellent! Thank you @clokep!

@PamelaM I've very happy to say that my issue appears to have been resolved!

[code]
Thanks for all the hard work.

[2017-02-07 01:31] PamelaM commented on #32
Excellent!  Thanks for checking!

[2017-02-07 01:56] PamelaM commented on #32
Fixed by version 1.4.2

[2017-02-07 01:56] #32 closed

[2017-04-06 07:46] matrixise opened #43 "no coverage for the templates"
Hi all,

I am using Python 3.5, django 1.9, coverage 4.3.4 and django-coverage-plugin (1.5.0)

Here is my `.coveragerc`

[code]

but as you can check in the following report, the coverage of my templates is empty.

[code]

Any idea ?

[2017-04-06 12:12] PamelaM commented on #43
Thanks for the report.

I'll look into this tonight(-ish).

 If you've got the time, could you try with `django-coverage-plugin==1.4.2`, just to rule out something having changed in `1.5.0` such that the tests pass, but things fail anyway.

[2017-04-06 12:39] matrixise commented on #43
I have tried with django-coverage-plugin==1.4.2 but I have the same result.

Just added `django_coverage_plugin` in my .coveragerc file, I can see the list of my templates, but 0.00% percent for all of them.

Do you have an example ?

Thank you

[2017-04-06 19:57] matrixise commented on #43
@PamelaM I have checked with an other project and the plugin works fine but I don't know why it does not work with my main project. We can close, but maybe I will debug it in the future.

[2017-04-07 00:42] PamelaM commented on #43
I'd do a compare & contrast of the django settings - especially wrt settings.TEMPLATES entries have `'OPTIONS': {'debug': True}`

[2017-04-07 12:49] PamelaM commented on #43
Closing.  If you find the cause,  please follow up here.

[2017-04-07 12:53] #43 closed

[2017-05-05 01:09] beaugunderson opened #44 "Possible to remove Django from install_requires?"
Django being in `install_requires` makes it hard for a project using `django_coverage_plugin` and `pip-compile` to specify their own version of Django.

[2017-05-05 01:24] nedbat commented on #44
This library specifies "Django>=1.8". If your app specifies "Django==1.9.3", everything should be fine, or so I thought.  Can you show the details of how you are specifying Django, and what happens with pip-compile?

[2017-05-05 05:24] beaugunderson commented on #44
OK, I think this is probably an issue limited to my specific setup, I split dev requirements out to a `dev-requirements.in`; because `django_coverage_plugin` adds a dependency on Django I end up with it in both my `requirements.txt` and my `dev-requirements.txt`. I'm thinking I can just combine both files since I install both sets of requirements anyway.

I still don't know how I feel about the de

[2017-05-10 09:57] Skeen opened #45 "Ignoring coverage for some branches"
Hello,

Is it possible to ignore branches within the templates?
- Otherwise is this something that's on the drawing board?

[2017-05-19 10:30] tolomea opened #46 "It's not finding templates on Windows 10"
I have following package versions:

    coverage==4.4.1
    Django==1.11.1
    django-coverage-plugin==1.5.0
    pytest==3.0.7
    pytest-cov==2.5.1
    pytest-django==3.1.2

.coveragerc contains:

	[run]
	plugins =
	    django_coverage_plugin

Running pytest with:

    pytest --cov-report term-missing --cov=core

correctly calculates coverage for the Python files in core but doesn't find any of t

[2017-05-20 22:52] PamelaM commented on #46
Thanks for the bug report, @tolomea

I don't have access to a windows system for testing, but I'm currently at pycon and I'll try to see if I can scrounge up someone to help on sprint Monday.

[2017-05-20 23:13] tolomea commented on #46
Let me know if there is any additional information I can provide or experiments I could do.

[2017-06-26 14:37] saulshanabrook commented on #4
For all my projects, this is true. I can't think of a reason why you would put a file in there that isn't a template.

[2017-09-08 12:26] clokep commented on #4
Just chiming in that for us every file in `TEMPLATE_DIRS` is a template...and not all of them have a `.html` extension (`.txt` and `.subject` are common other ones).

[2017-10-05 08:20] Roang-zero1 commented on #46
I am running into the same issue on my project. What would be needed to solve this problem?

[2017-10-18 18:05] PamelaM commented on #45
I haven't tried to use coverage.py's ability to exclude code.
If you want to experiment you could try adding `{# pragma: no check #}` comment on the `{% else %}` part of a template branch.

You can learn more from the applicable [coverage.py docs](http://coverage.readthedocs.io/en/coverage-4.2/excluding.html#advanced-exclusion)

[2017-11-14 17:16] merwok commented on #44
Same problem here.  I have a runtime.txt file (generated by pip-compile) with django, pysycopg2 and all run-time dependencies; my tests.txt file (generated too) only contains additional requirements like coverage, django-webtest, etc., without duplicating the django/etc dependencies.  In my tox config I run `pip-sync runtime.txt tests.txt` to install both sets of packages (pip-sync is equivalent t

[2017-11-14 18:26] PamelaM commented on #44
Thanks @merwok.  That's a well supported point.
I think the plugin is depending on the setup.py `install_requires` to ensure that only supported versions of Django are installed.  One _could_ add a manual check to the plugin and run-time error if the Django version is unsupported.

[2017-11-14 18:34] merwok commented on #44
Yes, that would work well with a tox config that documents the supported versions.

[2017-11-15 17:27] merwok commented on #44
The behaviour is more subtle: an identical requirement may be present in runtime.txt and tests.txt, if it’s the same version (happens for six for instance).

I think the exact problem is that the *.in files are compiled separately, so pip-tools doesn’t have a chance to resolve the version constraints from django-coverage-plugin and my app.

[2017-11-15 21:29] sebastian-code opened #49 "Setting DJANGO_SETTINGS_MODULE"
Right now I have this `setup.cfg` file:
[code]
Even when the environment variable `DJANGO_SETTINGS_MODULE` is being set inside the file, the package is not picking it, how is the proper way to do it?

[2017-11-16 17:17] PamelaM commented on #49
I think this is really a `pytest` configuration issue and you'll need the pytest-env plugin as discussed in the [stack-overflow response](https://stackoverflow.com/questions/36141024/how-to-pass-environment-variables-to-pytest)

[2017-11-16 17:18] PamelaM commented on #49
tl;dr:
 - install pytest-env plugin
 - modify `setup.cfg` to have an `env=\n` above the `DJANGO_SETTINGS_MODULE` definition and indent that definition.

[2017-11-16 17:36] sebastian-code commented on #49
Thanks @PamelaM I tried it but still doesn't work, this time throws a different error thou:
[code]

[2017-11-16 23:52] PamelaM commented on #49
Now you're running into regular python path issues where the `config` module isn't in the path or the current working directory.

[2017-11-16 23:53] PamelaM commented on #49
Are you able to run a django management command with `DJANGO_SETTINGS_MODULE` set to `config.settings.local`?
e.g.
[code]

[2017-11-17 00:21] sebastian-code commented on #49
Thanks for your time @PamelaM. Yes. Actually, this is how my `manage.py` file looks:
[code]
This file is in the same folder than `setup.cfg`, which is the project's root folder

[2017-11-28 14:26] PamelaM commented on #49
Well, I'm honestly stumped.

A couple more things to try, though:
 - change your module name from `config` to `myconfig` (guess: possible that pytest's config.py is getting in the way of the import search)
 - In your dev environment, edit `/home/maestro/Workspace/accountant/env/lib/python3.5/site-packages/django/conf/__init__.py`, line 110, in __init__ and dump `sys.path` and see that your config

[2017-12-10 19:25] knyghty commented on #24
I'm having the same issue - did you ever figure this out?

[2018-02-27 16:14] beda42 commented on #36
Hello,

Just my two cents. I am seeing this problem still with version 1.5.0 and Django 1.11.7 and coverage 4.4.1.

My observation is that if the custom tags are loaded into a template, it does not break anything. But when they are used, it leads to the whole template being marked as not covered at all.

Any idea how I can try to debug it? Unfortunately the project I am working on is not yet publi

[2018-05-24 18:23] stefankoegl opened #51 "Django 2.1a1: cannot import name 'TOKEN_BLOCK'"
When trying to run my project with [Django 2.1a1](https://www.djangoproject.com/weblog/2018/may/17/django-21-alpha-1/), I get the following error

[code]

I did not find anything in the (under development) [release notes](https://docs.djangoproject.com/en/dev/releases/2.1/). Is this something that should be addressed in django_coverage_plugin, or should I report it to django instead?

[2018-05-24 18:29] clokep commented on #51
Looks like django/django#9938 replaced this and related constants with an enum.

[2018-06-25 09:50] schinckel commented on #44
I think this one is resolved by PR #48 ?

[2018-06-26 05:36] schinckel commented on #4
Oh wait, that's not in the released code - the HEAD in git will find all HTML files in the tested directories.

My comment about `APP_DIRS` stands though - but then how do we know which apps to include, I suppose? Generally only internal apps are tested in my project.

[2018-06-26 13:21] charettes commented on #4
One way this could be solved is to file a Django feature request to add a method to engines that returns all of their templates.

[2018-06-26 14:25] merwok commented on #44
Indeed

[2018-06-26 19:43] beaugunderson commented on #44
👍

[2018-06-26 19:43] #44 closed

[2018-06-26 23:05] schinckel commented on #4
Hmm. I think that might work, because I _think_ that `coverage` will only include files that are inside the coverage source directories. I'm not familiar enough with it to state definitively, but I think that's what I saw yesterday.

[2018-06-26 23:08] schinckel commented on #4
@charettes Will this return all templates that are in the tree, or only those that are actually loaded? I feel like it's the latter...

[2018-06-27 03:12] charettes commented on #4
@schinckel the idea would be for engines to return all valid identifiers they allow. The thing is not all template custom engines are file based; some third-party ones are backed by models for example.

[2018-07-03 10:23] kaibara opened #53 "The contents of the folder inside the folder are not subject to coverage"
## issue
When I did a `$ coverage run`, only the html file in the folder was covered, and it was not executed to the html file in the folder in the folder.
Please tell me how to coverage the folder's html file in the folder.

## Constitution
[code]

## Action
The following is a commannd & result lists
[code]

## Desired results
[code]

[2018-07-03 10:31] Fandekasp commented on #53
Reproducible with versions:
Django==2.0.6
django-coverage-plugin==1.5.0

[2018-07-27 08:06] Fandekasp commented on #53
@nedbat can you answer please ? Thanks in advance !

[2018-07-27 10:46] nedbat commented on #53
@Fandekasp can you provide code that reproduces the issue?

[2018-07-27 20:07] jambonrose opened #55 "Activate TravisCI?"
Hi,
I note that there's a `.travis.yml` in the repo, but navigating to [TravisCI](https://travis-ci.org/nedbat/django_coverage_plugin) informs me that 'This is not an active repository.'

@nedbat : would you like to use Travis, and if so, would you mind activating it? Happy to help in any way I can.

[2018-08-22 02:36] Fandekasp commented on #51
Same issue
[code]

Django==2.1
django-coverage-plugin==1.5.0

[2018-09-04 13:36] Atterratio opened #58 "Suport PyCharm Coverage"
If I run django tests with coverage from PyCharm, then geting error: "Coverage.py warning: Plugin file tracers (django_coverage_plugin.DjangoTemplatePlugin) aren't supported with PyTracer".

Any chance on support in future, or may be I can configure something to get worked this?

[2018-09-04 13:53] jambonrose commented on #58
Hi @Atterratio ,

Could you share more information? What version of Coverage, Python, etc?

I'm afraid I don't have PyCharm, and googling "PyTracer" gives me results for a google project, raytracers, and a debugging tool that hasn't been updated in two years. If you could point me towards documentation, I'll be able to better understand the problem. The scope of the problem will help determine wha

[2018-09-04 13:56] jambonrose commented on #49
@sebastian-code: I'm closing this issue because the issue is nearly a year old. Please let me know if you were not able to track down the error, and I'll re-open the issue and will try to pitch in to help get to the bottom of this.

[2018-09-04 13:56] #49 closed

[2018-09-04 14:29] nedbat commented on #58
Coverage.py has two different implementations of the core trace function that collects data.  One is in C, called CTracer, the other in Python, called PyTracer.  If you are using PyTracer, it probably means that you are on a platform without a C compiler, or without the Python development dependencies.

@Atterratio Can you show us the output of "coverage debug sys,config" ?  Thanks.

[2018-09-04 15:48] Atterratio commented on #58
@nedbat thanks, I'm unchecked "Use bundled coverage.py" option in PyCharm configuration and error message gone.
But coverage for templates not show. I think I should go to PyCharm support for solve this problem.
Thanks all.

[2018-09-04 15:48] #58 closed

[2018-09-04 16:27] jambonrose commented on #51
Now that #57 has been merged into master, this issue is now fixed.

I will be releasing the latest version later today.

Thanks to all of you for documenting the issue!

[2018-09-04 16:27] #51 closed

[2018-09-04 20:30] jambonrose commented on #51
I have issued a release-candidate with the changes: https://pypi.org/project/django_coverage_plugin/1.6rc1/

[2018-09-05 01:13] nedbat commented on #55
I activated it for my Travis account, I think?

[2018-09-05 01:16] nedbat commented on #55
I'll admit to being confused about the difference between webhooks and integrations, travis-ci.org and travis-ci.com, etc.

Will this work?  https://travis-ci.org/nedbat/django_coverage_plugin

[2018-09-05 01:26] jambonrose commented on #55
That sure looks like it works to me!

I get the impression Travis is consolidating .com and .org, but that's it's taking a ton of work. I expect everything to move to the new Github integration, but it doesn't work for OSS yet.

I'm closing the issue, as I think we're good to go, but I'll re-open it if tests don't run on PRs.

Thanks Ned!

[2018-09-05 01:26] #55 closed

[2018-09-05 13:50] jambonrose commented on #4
Given that #39 was merged and implements the feature, I am closing this issue.

@schinckel : When I run tests with `django_coverage_plugin`, I am seeing missing template files from app directories, and have not been able to replicate conditions where they are missing. If you're not seeing missing templates when they're in `app_name/templates` please open a new issue (with code, if possible!). Than

[2018-09-05 13:50] #4 closed

[2018-09-05 13:55] jambonrose opened #60 "Configure template file extensions"
During conversation of #4, several people expressed the desire to report missing templates that do not end in `.html` or `.htm`, as some templates end in `.txt` or arbitrary extensions like `.subject`.

We should probably default to `.html`, `.htm`, and `.txt` (this last is used by Django emails). It should be possible for developers to configure the extensions being matched by the `find_executabl

[2018-09-05 13:59] jambonrose commented on #3
Closing this issue: setting `DJANGO_SETTINGS_MODULE` is documented in the Read Me.

[2018-09-05 13:59] #3 closed

[2018-09-05 14:10] charettes commented on #4
@jambonrose does it work for [`TEMPLATES.DIR` as well](https://docs.djangoproject.com/en/2.1/ref/settings/#dirs)?

e.g.

[code]

[2018-09-05 14:27] jambonrose commented on #24
I just cloned [`symmetrical-eureka`](https://github.com/degustaf/symmetrical-eureka) and ran the tests locally with Python 3.5, Django 1.11, Coverage 4.5.1 with C extension, and django_coverage_plugin v1.6rc1. I'm seeing the templates being listed as covered, so I'm guessing you sorted the issue out, and am therefore closing the issue.

If either of you are still having problems with this package,

[2018-09-05 14:27] #24 closed

[2018-09-05 15:14] jambonrose commented on #4
@charettes : I am able to see missing templates from my test run even when they are in a `templates` directory at the root of the project. However, the results were not exactly what I expected.

On top of changing the `TEMPLATES` setting, I informed `.coveragerc` of the new `templates` directory.

[code]

Output for `templates` dir:

[code]

The `logout.html` template is definitely not being used,

[2018-09-05 15:27] jambonrose opened #61 "Coverage differs depending on location of name-clashed template"
This is a fairly odd setup, and therefore probably not high-priority.

If a Django app has a template that shares the same namespace as a core template (say, Django Admin's `registration/password_reset_done.html`), then it is only used if the app appears before the Admin in the `INSTALLED_APPS` setting. Coverage for the local template should be 0% if the app is listed below the Admin, as it is not

[2018-09-11 06:52] velis74 commented on #19
Necro, but still relevant, I guess.

@nedbat I just installed this today, running on django 2.0, coverage 4.5.1 and the plugin 1.6.0

My .coveragerc:

[code]

It finds no templates at all. I believe this is related to #46

But, pertaining to this particular issue, let's just say I don't know how to use the `source=` and `include=` options.

I specified `source = /app/templates/*` and `source = /ap

[2018-09-12 19:17] #53 closed

[2018-09-16 06:13] velis74 commented on #19
Got a bit more info: when run on my macbook, it was failing (exception) because debugging django templates was not turned on. Still doesn't work after turning it on though. This exception wasn't raised running on Windows though.

[2018-09-17 12:34] jambonrose commented on #19
Thanks for all the info! I will have some time to really look into this later this week, and will try to get to the bottom of the behavior you are describing.

[2018-09-29 11:19] bugreport1234 commented on #46
I've been running into the same issue. I believe I've found the cause of this bug.

In [plugin.py line 151](https://github.com/nedbat/django_coverage_plugin/blob/master/django_coverage_plugin/plugin.py#L151) the plugin gets the path to the django template library template directory by importing django.template and then accessing the `__file__` attribute of the module. In [line 169](https://github.

[2018-09-29 12:02] bugreport1234 commented on #46
(This part is less directly related to the issue. I apologize if this is deemed as too off-topic.)

While looking through the plugin source to find the cause of this bug, I got a bit puzzled by the way the plugin works. From what I understand from the code, it registers itself to trace every file in `django.template` and then tries to pull out the template paths, as well as info about node boundar

[2018-09-29 12:58] jambonrose commented on #46
Thanks @bugreport1234! That's very helpful.

It sounds like running CI tests on Windows testing just got added to my to-do list. Some of the code provided by Martijn Pieters in the Stack Overflow looks to be directly relevant, too. Thank you for linking directly to the issue!

I can't speak for the other co-maintainers, but I'm currently focused on trying to fix bugs and add documentation. Once we

[2018-10-16 19:35] GabLeRoux commented on #18
I was getting the following error:

I thought I had the setting enabled, but here's the thing:

[code]

:tada:

[2018-11-01 09:50] alexandervlpl commented on #60
Great work on this plugin! In my project, the Django template engine is also used to generate PDFs. These templates are LaTeX files with `.tex` extensions. Seeing them in coverage reports would make this even *more* awesome.

[2019-05-05 09:52] TauPan commented on #36
I've just noticed that https://github.com/TauPan/pytest-django-xdist-cov-bug also seems to reproduce this issue. At least I noticed that I see no coverage for home.html which uses a custom template tag. (Thinking about filing https://github.com/pytest-dev/pytest-cov/issues/285 against this repo, too, but that's still undecided.)

[2019-05-13 13:06] TauPan opened #63 "Tests for template tags with pytest-xdist and pytest-cov break view tests using the template tags"
See https://github.com/pytest-dev/pytest-cov/issues/285

Here's a repository that reproduces the behaviour (see README):

https://github.com/TauPan/pytest-django-xdist-cov-bug

(Which also reproduces #36)

General description:

1.) You have a template tag library "foo"
2.) You have a view using a template using that library via load foo
3.) Being a thorough tester, you decide you need a test for t

[2019-06-19 08:01] izquierdo commented on #63
I was able to get the same result using your test repository and confirmed #64 fixes the issue. Would you please confirm on your end too?

[2019-06-19 12:18] jambonrose commented on #63
Hi folks,

I will look at this ASAP, but don't expect to get around too this or #64 until at least this weekend.

Thank you for your patience.

Andrew

[2020-04-12 21:39] suda opened #69 "CoverageException: Can't add file tracer data for unmeasured file"
A combination of `django`, `pytest`, `pytest-cov`, `django-coverage-plugin` and `pytest-django` seems to interact with each other causing `CoverageException` when tests execute code that renders templates. My guess is it's somewhere in `django-coverage-plugin` as disabling it, removes the exception.

I created an example Django project that exhibits this issue: https://github.com/suda/pytest_djang

[2020-04-23 19:37] MicahLyle commented on #69
I've also run into this problem 👍

[2020-05-05 21:09] mschoettle opened #70 "Ignore lines in templates"
Is it possible to exclude certain lines in templates?

For example:

[code]

This will show up in the report as missing lines.

I tried adding `{# pragma: no cover #}` but it did not work.

[2020-05-06 23:07] nedbat commented on #70
The plugin is written to understand comment blocks and ignore them.  Can you provide us with a reproducible test case?

[2020-05-07 01:46] mschoettle commented on #70
I have a template file containing the above block:

[code]

And a test function like this:

[code]

The relevant part of `setup.cfg` is as follows:

[code]

Another reason why I asked is a `{% block content %}` definition in a base template which spans more than one line (i.e., the endblock is in a subsequent line. It's not going to be executed so I was wondering if there is a way to ignore them.

[2020-05-26 09:29] erdseb opened #71 "Report 0% on all templates not covered?"
Hi!

Thanks for making this plug-in and sharing it with the community as software libre! :+1:
I noticed that right now only the templates that are actually touched by existing tests make it into the report, i.e. if no tests gets template X loaded, it will not appear with 0% in the report and hence the resulting picture is more optimistic than reality. Is there a way to get all templates of first p

[2020-05-29 13:23] erdseb commented on #71
Any thoughts?

[2020-06-03 09:00] jnoortheen opened #73 "plugin not working with pytest"
Thanks for this great plugin. Now we don't have to worry about missing logic inside templates. I am not able to get it working with `pytest`.
I execute the tests like this

![image](https://user-images.githubusercontent.com/6702219/83617381-9ae3dc80-a5a6-11ea-82aa-45c6652c705d.png)

But the report always show 0% coverage for all the templates in the project.
![image](https://user-images.githubuser

[2020-06-11 09:54] thommor commented on #73
I'm currently trying to use this plugin with pytest and running into alot of issues.

If I run pytest without any tests that use templates then it works as expected and shows 0% coverage for all my templates.

However if I run tests the check the template was used it throws internal errors in coverage which causes no coverage to be generated at all even though all the tests still pass

[code]

[co

[2020-06-25 12:50] erdseb commented on #71
@nedbat do you have a minute?

[2020-07-12 20:22] nedbat commented on #71
@erdseb I have not been doing work on this plugin recently, or for some time actually.  I think this plugin should be finding unused templates.  A quick look at the code suggests that only .htm or .html files are considered.  Do you have differently named files?

Or, can you share a reproducible scenario with us?

[2020-07-12 23:35] nedbat commented on #69
An interesting bug report, thanks!

There are a few things going on here.  If I add the `-s` switch to pytest, then I can see the first issue:
[code]

Pytest normally captures all the output, so you couldn't see this message.  The plugin is being disabled, but later, coverage doesn't take that into account, and tries to do some final bookkeeping for a plugin which never recorded any lines.

You ca

[2020-07-12 23:35] #69 closed

[2020-07-14 10:12] erdseb commented on #71
Hi Ned, thanks for your reply!
I will try to create a minimal reproducible example, deal :+1:

[2020-07-24 16:13] erdseb commented on #71
@nedbat yes! Please have a look at https://github.com/erdseb/django_coverage_plugin_issue_71_demo

[2020-07-31 11:22] erdseb commented on #71
Any thoughts?

[2020-08-18 16:29] erdseb commented on #71
@nedbat Please have a look at https://github.com/erdseb/django_coverage_plugin_issue_71_demo — I made it because you asked for it. Thank you!

[2020-08-20 23:38] nedbat commented on #71
Thanks for the reproducible case.  And sorry it took so long.  And extra sorry that the answer is really simple, and I should have thought of it earlier.  You need to use the `--source=.` option (or some other `--source`) on the `coverage run` command for it to search for unexecuted files.  Once I do that with your example, both templates appear in the results.

I hope that helps.

[2020-08-20 23:38] #71 closed

[2020-09-23 19:04] grondman opened #74 "{% endblock %} marked as missing in templates solely used as parent templates"
I'm using a parent template (never used on its own but always extended from) with the following code snippet:
[code]
The `{% endblock content %}` line is always marked as missing. I guess this is because I'm never using this template on its own for a view and that the contents of the actual block are always filled by a child template, but then the coverage tool mistakenly thinks that is has not se

[2020-10-14 19:13] mschoettle commented on #73
@jnoortheen: Can you check whether your Django `DEBUG` setting is set to `True`? Mine accidentally was set to `False`. With debug enabled it works as expected.

[2020-10-14 21:47] jnoortheen commented on #73
@mschoettle I think that is my case too. The tests are always ran with DEBUG=False.

I haven't checked with `DEBUG=True `

[2020-11-24 09:28] tlrh314 commented on #63
What's the status of this issue?

I'm running into this issue using Django 2.2.17 and pytest /w plugins: celery-4.4.6, sugar-0.9.4, xdist-2.1.0, cov-2.10.1, django-4.1.0, Faker-4.17.1, forked-1.3.0, subtests-0.3.2 and using django_coverage_plugin.

[2020-11-24 11:15] nedbat commented on #63
I'm sorry this repo has been so quiet.  We don't have an active maintainer at the moment.

[2021-04-18 23:48] TaylorSMarks commented on #36
This is still an issue for me using:

- django 3.11
- python 3.9
- coverage 5.3
- django-coverage-plugin 1.8

What workarounds are available?

[2021-04-19 03:19] TaylorSMarks commented on #36
I tried just adding `# pragma: no coverage` comments to the lines which were getting flagged as uncovered but I knew were obviously getting covered, IE, function definition lines, but that resulted in it skipping measuring whether the bodies of those functions were covered, effectively meaning the file was completely excluded.

So I spent the past 3 hours putting way too much effort into learning

[2021-04-26 16:30] sparrowt commented on #73
I had the same issue using pytest (0% coverage reported for everything) and setting Django `DEBUG = True` did work ✔ (after also adding [`django_debug_mode = true`](https://pytest-django.readthedocs.io/en/latest/usage.html#django-debug-mode-change-how-debug-is-set)/`keep` to pytest.ini)

However I was under the impression that running tests with `DEBUG = True` is not best practice - is that a deli

[2021-04-26 17:33] sparrowt commented on #73
The real issue here (I think) is that `check_debug` never gets past [`if not settings.configured:`](https://github.com/nedbat/django_coverage_plugin/blob/v1.8.0/django_coverage_plugin/plugin.py#L61) when running under pytest (having attached a debugger), so it never gets as far as the code which _should_ raise an exception saying _"Template debugging must be enabled in settings"_.

Perhaps the not

[2021-04-26 20:37] jnoortheen commented on #73
there is this PR https://github.com/nedbat/django_coverage_plugin/pull/72/

[2021-05-01 16:29] nedbat commented on #71
The already-imported warnings are now fixed in https://github.com/nedbat/coveragepy/issues/1150

[2021-05-10 11:06] sparrowt opened #75 "Spurious missing lines reported if template has CRLF line endings"
### Summary
If the Django template HTML file has CRLF line endings (`\r\n`) then, depending on line and file lengths, some random lines may be reported as 'missing' even though they are covered.  In my experience it happens more often on short lines later in the file, e.g. some closing HTML tags near the end.

Changing the line endings to LF-only (`\n`) avoids the problem and it is correctly repor

[2021-05-23 19:45] nedbat commented on #46
I'm putting Windows CI in place (as part of moving from Travis to GitHub Actions), and the test suite is failing.  In my case, it's because of these different environment variable definitions:
[code]
I don't know why TEMP is a shortname while HOME is a longname.  But this breaks a comparison happening in coverage.py.

[2021-05-23 23:39] nedbat commented on #46
I think this is now fixed in d287548.  Let me know if it does or doesn't work.

[2021-05-23 23:39] #46 closed

[2021-05-25 01:52] nedbat commented on #63
This is fixed in 6622791.

[2021-05-25 01:52] #63 closed

[2021-05-27 19:31] nedbat commented on #73
I can definitely add the note to the README.  But I'd also be interested in making the warning visible in pytest.  Can you give me a small project that demonstrates the problem?

[2021-05-31 11:21] nedbat commented on #73
The README is updated in 3b7972fd4087612f26894e564ee902e951392c24, and coverage.py will also now show the warning when running under pytest (as of https://github.com/nedbat/coveragepy/commit/30c023b5b74f9c798645cbb3f35362ae046a4c25).

[2021-05-31 11:21] #73 closed

[2021-06-08 12:45] nedbat commented on #60
This is implemented in 07970d93a1a0af9cb3621e3e698faf8b3ee58986

[2021-06-08 12:45] #60 closed

[2021-06-09 04:41] DmytroLitvinov opened #76 "Mark v2.0.0 tag as latest release at GitHub Releases"
https://github.com/nedbat/django_coverage_plugin/releases

[2021-06-09 09:30] nedbat commented on #76
Done.  I've never quite understood why GitHub releases are better than PyPI, but there it is.

[2021-06-09 09:30] #76 closed

[2021-06-10 09:56] jaap3 opened #77 "Mention how to configure template_extensions in pyproject.toml"
Through some trial and error I was able to figure out that in order to configure `template_extensions` in `pyproject.toml` I have to do the following:

[code]

I also discovered that the following doesn't work:

[code]

as an `AttributeError: 'list' object has no attribute 'split'` is raised by `DjangoTemplatePlugin.__init__`.

[2021-06-10 10:10] jaap3 opened #78 "UnicodeDecodeError when generating a coverage report"
After upgrading to version 2.0 I suddenly get a `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf6 in position 28856: invalid start byte`.

This only happens when generating a report. So I added a `print` statement to `read_template_source` and was surprised that it is reading files outside of the template directory. In my case the offending file is a changelog tucked away in a static dir:

[2021-06-10 10:48] nedbat commented on #78
Can you provide a complete error report?  We should be more robust in the face of these sorts of things.

[2021-06-10 11:04] jaap3 commented on #78
Here's the full stracktrace, let me know if you need any more information:

[code]

[2021-06-21 20:36] katylava opened #79 "Defaults for template_extensions override .coveragerc "omit""
We have "*.txt" in our .coveragerc "omit" section, but .txt files are still being included in coverage reports. Started when the `template_extensions` configuration option was added. We aren't using that configuration option, so it looks like the default values for it ignore "omit" in .coveragerc. I'd expect custom values to override it, but not the defaults.

[2021-06-22 14:41] katylava commented on #79
Or if that's supposed to be the new behavior then the docs should make it clear.

[2021-06-22 23:14] nedbat commented on #79
No, you are right, it should not be doing that.  Is there any chance you could give me a repo to try it with?

[2021-06-22 23:19] katylava commented on #79
The repo we are using it in is private but I can make a simple version sometime this week.

[2021-06-24 15:42] katylava commented on #79
Oops, sorry. Looks like we are overriding our base .coveragerc in a few of our repos, and those **do not** have `*.txt` in the `omit` section. So I think everything is working correctly.

[2021-06-24 15:42] #79 closed

[2021-08-23 06:06] TauPan commented on #63
It's a bit late but I can confirm that this fixes the problems for me.

The reason I needed some time to validate this was that I saw new errors while running coverage concurrently, which turned out to be problems in my test setup.

(I had concurrent tests using the same directory, and after introducing some setup code to fix that, I can run coverage concurrently without issues.)

Thanks for the f

[2021-11-04 23:08] #77 closed

[2021-11-07 12:53] nedbat commented on #78
I'm having trouble creating a test scenario that shows this (a side file that isn't meant to be rendered causing the UnicodeError).  Can you give me a link to your real repo where the error is happening? Or more about your coverage and test settings?

[2021-11-08 08:07] jaap3 commented on #78
The project I've encountered this in is private. I'll see if I can create a reproducer.

[2021-11-08 08:47] jaap3 commented on #78
@nedbat here's a reproducer project:

[foobar.tar.gz](https://github.com/nedbat/django_coverage_plugin/files/7495440/foobar.tar.gz)

It's been reduced to the bare minimum. To reproduce the issue install the requirements and run `make`.

[2021-11-10 00:01] nedbat commented on #78
Thanks, this helped.  A fix is in the works, but it's just to make it possible to suppress the error with ``[report] ignore_errors=True``.   You can also use ``[report] omit=staticfiles/*`` in your .coveragerc file to prevent it looking in that directory in the first place.

[2021-11-10 00:27] nedbat commented on #78
Fixed in #83.  Also, added a fix to coverage.py that would also have made this ignorable: https://github.com/nedbat/coveragepy/commit/f3a70c951e838e3cfab706b9a2d0459d783e5a4f

[2021-11-10 00:27] #78 closed

[2021-11-24 02:45] johnlarusic commented on #75
Just adding that this exact same issue is happening to me.  Going to see if I can force VSCode to just use the Unix-style line endings everywhere, but this fix would still be very much appreciated.

[2022-01-25 18:40] andre19rodrigues opened #84 "Can't add file tracer data for unmeasured file 'templates/account/messages/logged_in.txt'"
I use this _'templates/account/messages/logged_in.txt'_ file to override django-allauth messages. This is an empty file.
After upgrading coverage from version 4.5.4 to version 6.2 I'm getting this error:

[code]

The error doesn't show up if I remove `django_coverage_plugin` from .coveragerc file.

[2022-01-25 18:53] nedbat commented on #84
Is your code public? Can you give me steps to reproduce the problem? Or a smaller example that shows it?

[2022-01-27 21:17] andre19rodrigues commented on #84
Hi @nedbat, thanks for your reply and sorry I didn't get back to you sooner. Unfortunately, the code is private, and I can't reproduce the bug. Feel free to close this issue if you wish.

If it's relevant, I got rid of the error by editing the coverage file sqldata.py and adding `add=True` to `self._file_id(filename)`, in the `add_file_tracers()` function. However, I couldn't figure out why this p

[2022-02-03 09:09] andre19rodrigues commented on #84
I was unable to reproduce this error in a smaller test project. I'm omitting this file in the config for now.

[2022-02-03 09:09] #84 closed

[2022-06-18 02:38] jsolly opened #88 "Incorrect release shown in GitHub (2.0.1 vs 2.0.3)"
### On Github
![image](https://user-images.githubusercontent.com/9572232/174419333-3cc8ba03-8b03-49ef-8cb7-9549be3dbd09.png)

### PyPI
![image](https://user-images.githubusercontent.com/9572232/174419339-7b6ab32d-3cf5-48d8-bed0-fd7c1f35f87e.png)

I like to watch repos to see when new releases are coming out. I think these two versions should match, right?

[2022-06-18 15:20] nedbat commented on #88
They should, yes!  I've updated the releases on GitHub, thanks for the report.

[2022-06-18 15:20] #88 closed

[2022-09-07 21:37] MFrancisca opened #89 "FILE_CHARSET error on a wagtail/django error"
Hello,

I'm trying to setup this plugin in a wagtail/django project (Django 4.0, wagtail 3.X). I have the package installed, set in the configuration for coverage and my django templates have the debug option as true.

When I run `coverage  run manage.py test` I get the following error

[code]

This is disabling the plugin in coverage so I'm not getting any results.

Am I doing something wrong? or

[2022-11-19 11:20] danjac commented on #74
This can be a problem as linters e.g. djlint will automatically reformat the `{% endblock %}` to the next line, so requires overriding the linter (as there does not appear to be any way to add an ignore pragma to the template).